body {
	background-image: url(praia.jpg);
	background-size: 100%;
	background-position:center ;

}
#content section ul li a{
	font-size: 19px;
	color: #1a0dab;
	text-decoration: none;
	list-style: none;
	
}


#content li a:hover{
	text-decoration: none;
	color: #1a0dab;
	font-size: 20px;
}

#wrap{
	width: 960px;
	margin: auto;
	font-family: helvetica, sans-serif;
	
}
header h1{
	padding: 10px 20px;
	font-family: "roboto mono",monospace;

}

#content section{
	float: left;
	width: 500px;
	text-decoration: none;
}
#sidebar{
	float: right;
	width: 460px;
}
footer{
	clear: both;
	text-decoration: none;
}

label, input[type="submit"], input[type="text"], textarea{
	display: block;
}
textarea{
	width: 300px;
	height: 80px;
}
h2 , p {
	font-size: 20px;
	font-family: "roboto mono",monospace;

}
#content section ul li {
	list-style: none;


	
}
 label, input{
	font-size: 20px;
}